# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
build/
.npm
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
toy_repo.url
